.custom-table {
    border-collapse: collapse;
    border: 1px solid lightgray;
    width: 100%;
    text-align: left;
    th, td {
        padding: 0.75rem;
        border: 1px solid lightgray;
    }
    tr.table-row {
        cursor: pointer;
        &:hover {
            background-color: lightyellow;
        }
    }
}

.analyzer-container {
    display: flex;
    flex-wrap: wrap;
    > div {
        flex: 1 1 0%;
    }
}